/*post-bottom*/

/*Barra dos botões de like, comentario etc*/
.barra-de-botoes{
    width: 470px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.barra-de-botoes ion-icon{
    font-size: 28px;
}

.barra-de-botoes button:last-child{
    margin-left: auto;
}

/*Parte da legenda, quem postou, etc**/
.pb-span{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.post-bottom-nome{
    font-size: 14px;
    font-weight: 500;
}
.legenda{
    padding-left: 10px;
}

/*Parte dos comentários*/
.comentarios{
    color: var(--cinza-medio);
}
.comentario{
    color: var(--branco-pesado) !important;
    outline: none;
}

.comentario::placeholder{
    color: var(--comment-color);
}

.container-barra-de-comentarios{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-barra-de-comentarios ion-icon{
    font-size: 16px;
    padding-right: 6px;
}