/*story*/
.story{
    width: 66px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 12px;
}

.circular-landscape{
    
    display: inline-block;
    position: relative;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
}
.circular-landscape-container{
    background-image: url("../assets/stories_background.png");
    background-size: cover;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-img{
    height: 56px;
    margin-left: -40%;
}