#BarraInferior{
    width: 100%;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--cinza-escuro);
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background-color: black;
}

#BarraInferior nav {
    width: 100%;
}

#BarraInferior ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#BarraInferior li:first-child{
    margin-left: 28px;
}

#BarraInferior li:last-child{
    margin-right: 28px;
}


/*BOTÕES DO MENU*/
#BarraInferior button{
    width: fit-content;
    background-color: inherit;
    border-width: 0;
    transition: font-size 0s;
    transition: width 0s;
}

#BarraInferior button:hover{
    i{
        font-size: 23px;
        transition: font-size 100ms linear;
    }

    img{
        width: 27px;
        transition: width 100ms linear;
    }
}


i{
    color: white;
    font-size: 22px;
}

#BarraInferior img{
    border-radius: 50%;
    width: 25px;
}

.fa-paper-plane{
    transform: rotate(20deg);
}


