
.container-BarraLateral{
    width: 246px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--cinza-escuro);
    position: fixed;
    top: 0;
}

.BarraLateral{
    height: 100vh;
    width: 215px;
    margin-top: 0;
    list-style: none;
    padding: 0;
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    
}

.BarraLateral img{
    width: 110px;
    padding-top: 20px;
    margin-bottom: 12px;
}

.BarraLateral li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.BarraLateral button{
    width: 215px;
    height: 47px;
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    font-size: 16px;
    font-family: 'roboto';
    color: aliceblue;
    background-color: black;
    border-radius: 8px;
    border-width: 0;
    transition: background-color 0s;
}

.BarraLateral button:hover{
    background-color: var(--menu-hover);
    transition: background-color 130ms linear;
}


.BarraLateral li:nth-last-child(-n+2){
    margin-top: auto;
}

.BarraLateral li:last-child{
    margin-top: 0;
    margin-bottom: 32px;
}

.BarraLateral ion-icon{
    font-size: 28px;
}