/*Post*/
.container-post{
    padding-bottom: 8px;
    width: 470px;
    border-bottom: 1px solid var(--cinza-escuro);
    transform: translateX(-12px);
}

.postagens-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postagens-container li{
    list-style: none;
}

