button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    background-color: inherit;
    color: inherit;
    border-radius: 0;
    border-width: 0;
}

.app{
    overflow: overlay;
}