.main{
    width: calc(100vw - 239px);
    margin-left: 239px;
    display: flex;
    justify-content: center;
}



@media (max-width: 1270px) {
    .main {
        width: calc(100vw - 70px);
        margin-left: 70px;
    }
}

@media (max-width: 768px) {
    .main {
        width: 100vw;
        margin-left: 0;
    }
}