/*Geral*/
#menu-direito{
    margin-top: 30px;
    margin-left: 80px;
    width: 300px;
}

#menu-direito span, #menu-direito a{
    width: fit-content;
}

/*Sugestões da UL*/
#container-sugestoes{
    display: flex;
    flex-direction: column;
    gap: 9px;
}