/*Barra de stories*/
#barra-stories{
    width: 630px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

#barra-stories a{
    text-decoration: none;
    color: var(--branco-pesado);
}

